
<!-- Modal Error -->
<div class="modal fade w-100" id="ErrorModal" tabindex="-1" role="dialog" aria-labelledby="ErrorModalLabel" aria-hidden="true">
    <div class="modal-dialog estiloError">
        <div class="modal-content estiloError">
            <div class="modal-header">
                <i class="fa fa fa-exclamation-triangle text-danger" style="font-size: 2rem;"></i>
                <h5 class="modal-title text-danger me-2 ms-3" id="ErrorModalLabel">Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="ErrorModalText" class="text-danger fs-20 fw-bold"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Exito -->
<div class="modal fade w-100" id="exitoModal" tabindex="-1" role="dialog" aria-labelledby="ErrorModalLabel" aria-hidden="true">
    <div class="modal-dialog estiloError">
        <div class="modal-content estiloError">
            <div class="modal-header" style="justify-content: space-around !important">
                <i class="fa fa fa-check text-success" style="font-size: 2.5rem;"></i>
                <h5 class="modal-title text-success" style="font-size: 2.5rem;" id="exitoModalText"></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

