<link href="~/css/BotonMenu.css" rel="stylesheet" />

<div class="col-lg-2 mb-5 divMenu align-self-start imagenMenu">
    <img src="/Imagenes/Menu.png" class="img-fluid imageMenu" alt="Menu" title="Menu" onclick="window.location.href='@Url.Action("Index", "Home")'">
</div>