
html {
    font-size: 14px;
}

.btnConfiguraciones {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido horizontalmente */
    font-size: 30px;
    color: white;
    width: 100%;
    outline: none;
    border: none;
    background-color: gray;
    border-radius: 10px;
    padding: 10px; /* Agrega algo de padding para un mejor aspecto */
    cursor: pointer;
    margin-bottom: 10px; /* Espacio entre los botones */
}

.list-item {
    color: red;
    background-color: gray;
    margin-bottom: 5px;
    text-align: center;
    width: 95%;
    height: 30px;
    position: relative;
    left: 2%;
    border-radius: 3px;
}

    .list-item:hover {
        background-color: dimgray;
    }

.btnModificarConfiguracion {
    border: none;
    background-color: blue;
    color: white;
    width: 35%;
    margin-left: 2px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border-radius: 12px;
    padding: 0px 5px 5px 5px;
}



    .btnModificarConfiguracion:hover {
        background-color: darkblue;
    }


.btnCancelarConfiguracion {
    border: none;
    background-color: brown;
    color: white;
    width: 35%;
    margin-left: 2px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border-radius: 12px;
    padding: 0px 5px 5px 5px;
}


    .btnCancelarConfiguracion:hover {
        background-color: darkred;
    }

    .btnModificarConfiguracion-container {
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    align-items: center; /* Centra el botón verticalmente (si es necesario) */
    width: 100%; /* Asegúrate de que el contenedor tome el ancho completo del modal */
    margin-bottom: 10px;
}

.btnAgregarConfiguracion-container {
    display: flex;
    justify-content: right; /* Centra el botón horizontalmente */
    align-items: center; /* Centra el botón verticalmente (si es necesario) */
    width: 100%; /* Asegúrate de que el contenedor tome el ancho completo del modal */
    margin-bottom: 10px;
    margin-top: 30px;
    
}

.btnAgregarConfiguracion {
    border: none;
    background-color: green;
    color: white;
    width: 30%;
    margin-left: 2px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border-radius: 12px;
    margin-right: 30px;
}


.edit-icon {
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: 5px;
    left: 10px;
    cursor: pointer;
}


.eliminar-icon {
    font-size: 20px;
    color: white;
    position: absolute;
    bottom: 5px;
    right: 20px;
    cursor: pointer;
}


.list-container {
    margin-top: 10px;
    max-height: 300px;
    overflow-y: auto; /* Habilita el desplazamiento vertical */
}

.btnConfiguraciones:hover {
    background-color: dimgray;
}

    .btnConfiguraciones img {
        margin-right: 10px; /* Espacio entre la imagen y el texto */
        width: 60px;
        height: 60px;
    }

    .btnConfiguraciones span {
        flex-grow: 1; /* Permite que el texto ocupe el espacio restante */
        text-align: center; /* Centra el texto */
    }
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 10px;
    padding-bottom: 10px;
    background-attachment: fixed;
    background-position: center center;
    background-color: #1B2631;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    width: 99%;
    height: 98%;
    margin-left: 5px;
}

.card-body,
.card-header {
    background: #323844 !important;
}


.card-container {
    width: 70%;
}

.max-img-size {
    max-width: 70px !important;
    max-height: 70px !important;
}

.divLogo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.imageLogo {
    max-width: 100% !important;
}

.btnMenu {
    width: 10vw;
    height: 8vh;
    max-width: 700px;
    min-width: 200px;
    max-height: 110px;
    min-height: 80px;
    background: #061A9C;
    border-radius: 20px;
    border-color: blue;
    color: white;
    font-size: 1.1vw;
    font-weight: bold;
}

.btnMenu:hover {
color: bisque;
background: #240370;
}


@media (max-width: 1300px) {
    .row-cols-lg-6 > .col {
        flex: 0 0 33%;
        max-width: 33%;
    }

    .btnMenu {
        font-size: 1.7vw;
    }


}

@media (max-width: 800.98px) {
    .row-cols-lg-6 > .col {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .btnMenu {
        font-size: 3vw;
    }

    .btnModificarConfiguracion {
        font-size: 28px;
    }



    .btnCancelarConfiguracion {
        font-size: 28px;
    }

}


@media (max-width: 600.98px) {
    .btnMenu {
        font-size: 4vw;
    }

    .btnModificarConfiguracion {
        font-size: 26px;
    }



    .btnCancelarConfiguracion {
        font-size: 26px;
    }
}

@media (max-width: 500.98px) {
    .btnMenu {
        min-width: 130px;
        min-height: 60px;
        font-size: 2.9vw;
    }

    .btnModificarConfiguracion {
        font-size: 24px;
    }



    .btnCancelarConfiguracion {
        font-size: 24px;
    }
}

@media (max-width: 400.98px) {
    .btnMenu {
        font-size: 2.7vw;
    }

    .btnModificarConfiguracion {
        font-size: 22px;
    }



    .btnCancelarConfiguracion {
        font-size: 22px;
    }
}

@media (max-width: 350.98px) {
    .btnMenu {
        font-size: 2.9vw;
    }

    .btnModificarConfiguracion {
        font-size: 20px;
    }



    .btnCancelarConfiguracion {
        font-size: 20px;
    }
}





