.menuUsuario {
    position: relative;
    left: 10px !important;
    margin: 0 !important;
    padding: 0 !important;
}


.nav-user {
    opacity: 0.7 !important;
    background: #2E4053;
    text-align: center;
    font-weight: bold;
    color: rgb(107, 120, 205, 1) !important;
    font-size: 1.7vw;
    border-radius: 20px;
    width: auto !important;
    height: calc(1.7vh + 1.7vw);
    padding-top: 5px;

}

    .nav-user:hover {
        opacity: 1 !important;
    }

@media (max-width: 900px) {
    .nav-user {
        font-size: 2vw !important;
    }
}
@media (max-width: 700px) {
    .nav-user {
        font-size: 3vw !important;
    }

}

@media (max-width: 400px) {
    .nav-user {
        font-size: 4vw !important;
    }
}