@{
    ViewData["Title"] = "Home Page";
}


@*GOOGLEAR CARD BOOTSTRAP 5*@
@section Estilos{

    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />

    @*ESTILOS DE BOTONES*@
    <link href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" rel="stylesheet" />

    @*filter columns*@
    <link href="https://cdn.datatables.net/fixedheader/3.2.2/css/fixedHeader.dataTables.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/productos.css" rel="stylesheet" />

}


<div class="row mt-4 table-bordered table-borderless">

    <div id="Filtros" class="divFiltros">

        <label class="lblfiltro">Proveedor</label>
        <select id="Proveedoresfiltro" name="select" class="input-nuevo">
            <option value="" selected>Proveedor</option>
        </select>

        <label class="lblfiltro">Cliente</label>
        <select id="clientesfiltro" name="select" class="input-nuevo">
            <option value="" selected>Cliente</option>
        </select>

            <label for="txtNombreFiltro" class="lblfiltro">Producto</label>
            <input type="text" class="input-nuevo" id="txtProductoFiltro">

        <div class="vw-75 d-flex float-lg-end mt-2">
            <a class="btn btn-success" id="aplicarFiltros" onclick="aplicarFiltros()">Aplicar</a>
        </div>

    </div>
</div>
    
<div class="container-fluid mt-5">



    <div class="row">

        <partial name="~/Views/Shared/Partials/BotonMenu.cshtml" />




        <div class="col-lg-10">
            <div class="card" style="width: 88%;position: absolute; left: 7vw; border: none;">
                <div class="card-header">
                    Productos
                </div>
                <div class="card-body">
                    <table class="display nowrap" id="grd_Productos" style="width:100%">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Descripcion</th>
                                <th>Proveedor</th>
                                <th>Marca</th>
                                <th>Categoria</th>
                                <th>Unidad de Medida</th>
                                <th>Moneda</th>
                                <th>P. Costo</th>
                                <th>P. Venta</th>
                                <th>Porc. Ganancia</th>
                                <th>Acciones</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Aquí va el contenido de tu datatable -->
                        </tbody>
                    </table>
                </div>

                <div class="d-flex justify-content-end mt-2 mb-4">
                    <a id="btnAumentarPrecios" class="btn btn-secondary btnnuevo me-2" onclick="abrirmodalAumentarPrecios()" hidden>
                        <i class="fa fa-arrow-up text-success"></i> Aumentar Precios
                    </a>
                    <a id="btnBajarPrecios" class="btn btn-secondary btnnuevo me-2" onclick="abrirmodalBajarPrecios()" hidden>
                        <i class="fa fa-arrow-down text-danger"></i> Bajar Precios
                    </a>
                     <a id="btnAsignarProveedor" class="btn btn-success btnnuevo me-2" onclick="abrirmodalProveedor()" hidden>Asignar Proveedor</a>
                     <a id="btnAsignarCliente" class="btn btn-success btnnuevo me-2" onclick="abrirmodalCliente()" hidden>Asignar Cliente</a>

                    <a class="btn btn-primary btnnuevo" id="btnNuevo" onclick="nuevoProducto()">Nuevo</a>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="modal fade centered-modal-importar" id="modalProveedores" tabindex="-1" aria-labelledby="modalProveedoresLabel" aria-hidden="true">
    <div class="modal-dialog estilowpp">
        <div class="estilowpp modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="modalProveedorespLabel">Asignar Proveedor</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <label class="lblNombreInput" hidden>Proveedor</label>
            <select id="Proveedores" name="select" class="input-nuevomodif select-modal-personalizado mt-3">
                <option value="" selected>Seleccione Proveedor</option>
            </select>
            <p id="datos" class="mb-3 text-center text-danger datos-error d-none"></p>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnaccion" data-bs-dismiss="modal">Cerrar</button>
                <button id="btnRegistrarModificar" type="button" class="btn btn-primary btnaccion" onclick="asignarProveedor()">Asignar</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade centered-modal-importar" id="modalClientes" tabindex="-1" aria-labelledby="modalClientesLabel" aria-hidden="true">
    <div class="modal-dialog estilowpp">
        <div class="estilowpp modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="modalClientespLabel">Asignar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <label class="lblNombreInput" hidden>Cliente</label>
            <select id="Clientes" name="select" class="input-nuevomodif select-modal-personalizado mt-3">
                <option value="" selected>Seleccione Cliente</option>
            </select>
            <p id="datos" class="mb-3 text-center text-danger datos-error d-none"></p>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnaccion" data-bs-dismiss="modal">Cerrar</button>
                <button id="btnRegistrarModificar" type="button" class="btn btn-primary btnaccion" onclick="asignarCliente()">Asignar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade centered-modal-importar" id="modalAumentar" tabindex="-1" aria-labelledby="modalAumentarLabel" aria-hidden="true">
    <div class="modal-dialog estilowpp">
        <div class="estilowpp modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAumentarLabel">Aumentar Precios</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <label class="lblNombreInput" hidden>Aumento</label>
            <label id="lblAumentoPrecioCosto" for="txtAumentoPrecioCosto" class="lblNombreInput">Porc. Precio Costo (*)</label>
            <input type="text" class="input-nuevomodifporc" id="txtAumentoPrecioCosto" value="0" required>
            <label id="lblAumentoPrecioVenta" for="txtAumentoPrecioVenta" class="lblNombreInput">Porc. Precio Venta (*)</label>
            <input type="text" class="input-nuevomodifporc" id="txtAumentoPrecioVenta" value="0" required>
            <p id="datos" class="mb-3 text-center text-danger datos-error d-none"></p>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnaccion" data-bs-dismiss="modal">Cerrar</button>
                <button id="btnRegistrarModificar" type="button" class="btn btn-primary btnaccion" onclick="aumentarPrecios()">Aumentar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade centered-modal-importar" id="modalBajar" tabindex="-1" aria-labelledby="modalBajarLabel" aria-hidden="true">
    <div class="modal-dialog estilowpp">
        <div class="estilowpp modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="modalBajarLabel">Bajar Precios</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <label class="lblNombreInput" hidden>Baja</label>
            <label id="lblBajaPrecioCosto" for="txtBajaPrecioCosto" class="lblNombreInput">Porc. Precio Costo (*)</label>
            <input type="text" class="input-nuevomodifporc" id="txtBajaPrecioCosto" required>
            <label id="lblBajaPrecioVenta" for="txtBajaPrecioVenta" class="lblNombreInput">Porc. Precio Venta (*)</label>
            <input type="text" class="input-nuevomodifporc" id="txtBajaPrecioVenta" required>
            <p id="datos" class="mb-3 text-center text-danger datos-error d-none"></p>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnaccion" data-bs-dismiss="modal">Cerrar</button>
                <button id="btnRegistrarModificar" type="button" class="btn btn-primary btnaccion" onclick="bajarPrecios()">Bajar</button>
            </div>
        </div>
    </div>
</div>

<!-- HTML para el modal de edición -->
<div class="modal fade" id="modalEdicion" tabindex="-1" role="dialog" aria-labelledby="modalEdicionLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg custom-modal-width" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEdicionLabel">Editar Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" hidden>
                                <label for="txtIdProducto" class="lblNombreInput">ID</label>
                                <input type="text" class="input-nuevomodif" id="txtId" readonly>
                            </div>
                            <div class="form-group">
                                <label id="lblDescripcion" for="txtDescripcion" class="lblNombreInput">Descripcion (*)</label>
                                <input type="text" class="input-nuevomodif" id="txtDescripcion" required>
                            </div>
                            <div class="form-group">
                                <label for="txtMarcas" class="lblNombreInput">Marca (*)</label>
                                <select id="Marcas" name="select" class="input-nuevomodif select-modal-personalizado mt-2">
                                    <option value="" selected>Marca</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="txtCategoria" class="lblNombreInput">Categoria (*)</label>
                                <select id="Categorias" name="select" class="input-nuevomodif select-modal-personalizado mt-2">
                                    <option value="" selected>Categoria</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="txtUnidadDeMedida" class="lblNombreInput">Unidad de Medida (*)</label>
                                <select id="UnidadesDeMedidas" name="select" class="input-nuevomodif select-modal-personalizado mt-2">
                                    <option value="" selected>Unidad de Medida</option>
                                </select>
                            </div>
                            <div class="form-group">
                            <label for="txtMoneda" class="lblNombreInput">Moneda (*)</label>
                            <select id="Monedas" name="select" class="input-nuevomodif select-modal-personalizado mt-2">
                                <option value="" selected>Categoria</option>
                            </select>
                        </div>
                            <div class="form-group">
                                <label id="lblPrecioCosto" for="txtPrecioCosto" class="lblNombreInput">Precio Costo (*)</label>
                                <input type="number" class="input-nuevomodif" id="txtPrecioCosto" required step="0.01">
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label id="lblPorcentajeGanancia" for="txtPorcentajeGanancia" class="lblNombreInput">Porc. Ganancia (*)</label>
                                <input type="number" class="input-nuevomodif" id="txtPorcentajeGanancia" required step="0.01">
                            </div>
                            <div class="form-group">
                                <label id="lblPrecioVenta" for="txtPrecioVenta" class="lblNombreInput">Precio Venta</label>
                                <input type="number" class="input-nuevomodif" id="txtPrecioVenta" step="0.01">
                            </div>
                            <div class="form-group divImagen">
                                <label for="txtImagen" class="lblNombreInput">Imagen</label>
                                <img id="imgProducto" class="mb-3" style="width: 150px; height: 80px;" src="" />
                                <p id="imgProd" class="" hidden></p>
                            </div>
                            <input id="Imagen" class="input-imagen" type="file" placeholder="Imagen" name="adjunto" accept=".pdf,.jpg,.png" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" id="btnGuardar" class="btn btn-primary" onclick="guardarCambios()">Registrar</button>
            </div>
        </div>
    </div>
</div>


<partial name="~/Views/Utils/Modals.cshtml" />

@section Scripts{

    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    @*SCRIPTS DE BOTONES*@
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js">
        
    </script><script src="~/js/site.js"></script>

    @*excel*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>

    @*pdf*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>

    @*imprimir*@
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>

    @*filter columns*@
    <script src="https://cdn.datatables.net/fixedheader/3.2.2/js/dataTables.fixedHeader.min.js"></script>


    <script src="~/js/Productos.js"></script>
   
}